.info_item {
  display: -webkit-box;
  cursor: pointer;
  position: relative;
  padding: 20px 0;
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-color: gray;
  }
}

.infoButton {
  width: 100%;
  margin-top: 10px;
  background: red;
  text-align: center;
  .button {
    color: white;
    font-size: 20px;
  }

  .signButton {
    width: 85%;
    margin-top: 10px;
    background: red;
    text-align: center;
    color: white;
    font-size: 20px;
    &:hover {
      background-color: blue;
      transition: 0.5s;
    }
  }
}
