.itemlist {
    padding: 0 5px 5px 0;

  .itemcolorbooking {
    background-color: green;
    color: black;
  }
  .itemcolorvip {
    background-color: yellow;
  }
  .itemcolorisbook {
    background-color: gray;
  }

}
