.location {
  max-height: 350px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(144, 202, 249);
    border-radius: 10px;
  }
  .location_item {
    padding: 20px 70px 20px 20px;
    cursor: pointer;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 80%;
      left: 20px;
      bottom: 0px;
      background-color: #d4dd29;
    }
    .location_name {
      color: #d4dd29;
      margin-bottom: 5px;
    }
    .location_address {
      color: white;
      font-weight: 400;
      font-size: 15px;
    }
  }
}
